.contact__container__pretitle {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: 'Poppins', sans-serif;
}

.contact__container__pretitle::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.contact__container__title {
  margin: 15px 0px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.contact__info {
  
  margin-bottom: 20px;
}
.contact__tel, .contact__social { 
  display: flex;
  justify-content: baseline;
background: rgba(255, 255, 255, 0.08);
width: 100%;
padding: 30px 50px;

}

.contact__tel > div{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact__icon {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  /* width: 50px;
  height: 50px; */
  padding: 10px;
  transition: 0.3s;
  fill: #18d26e;
  margin-right: 30px;
}

.contact__info > div > div > h3 {
  color: rgba(255, 255, 255, 0.5);

}






.form__input, .form__textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
  

}

.form__input {
  padding: 10px 15px;

} 

.form__textarea {
  padding: 12px 15px;
  
}

.form__input:focus, .form__textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);

}


.contact__text {
  /* font-style: italic; */
  margin-bottom: 20px;
  /* overflow: hidden; */
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}
.contact__form {
  background: rgba(255, 255, 255, 0.08);

}

.form__button {
background: #18d26e;
border: 0;
padding: 10px 30px;
color: #fff;
transition: 0.4s;
border-radius: 4px;
margin-top: 20px;
letter-spacing: 2px;
width: fit-content;
margin-left: auto;
margin-right: auto;
}
.form__button:hover {
  background: #15bb62;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 @media (max-width: 767px) {
  .form {
    max-width: 1280px;
    display: flex;
justify-content: center;
flex-direction: column;
  }
  .contact__form {
    padding: 30px;
  }

  .contact__social {
    margin-top: 20px;
  }
  
  .form__input {
    width: 100%;
  }
  .form__input:last-child {
    margin-top: 20px;
  }
 

  .form__textarea{
resize: none;
width: 100%;
height: 100px;
margin-top: 20px;
  }

  .contact__container {
    padding: 30px;
  }
 
} 




@media (min-width: 768px) {
  .contact__info {
    display: flex;
    
  }
  .contact__tel{

  } 

  
  .contact__social {
    margin-left: 20px;
  }

  .form {
    max-width: 1280px;
    display: flex;
justify-content: center;
flex-direction: column;
  }

  .form__row {
    display: flex;
    justify-content: space-around;
    
  }
  .form__input {
    width: 100%;
  }
  .form__input:last-child {
    margin-left: 30px;
  }
 
  .contact__form {
    padding: 50px;
  }

  .form__textarea{
resize: none;
width: 100%;
height: 100px;
margin-top: 20px;
  }

  .contact__container {
    padding: 50px;
  }
}