.contact__container {
  padding: 30px;
}

.contact__container__pretitle {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.contact__container__pretitle::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.contact__container__title{

  margin: 15px 0px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.contact__wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__wrapper__img {
  /* width: 100%; */
  padding: 0 20px;

}
.contact__thumb__wrapper {
  /* margin-left: 50px; */
  padding: 20px 70px;
}
.contact__thumb {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 15px 0px;
}

.contact__title {
  font-weight: 700;
  font-size: 32px;
  color: #18d26e;
  margin-bottom: 30px;
}
.contact__text {
  /* font-style: italic; */
  margin-bottom: 20px;
  /* overflow: hidden; */
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.contact__item{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.education__item{
  display: flex;
  align-items: center;
}

/* .education__item:nth-child(odd){
  margin-bottom: 20px;
} */

.education__item:nth-child(even){
  margin-bottom: 20px;
  margin-top: 5px;
}

.contact__item > strong, .education__item > strong  {
  margin-right: 10px;
}

.contact__pre, .education__pre {
  font-size: 16px;
  margin-right: 15px;
  color: #18d26e;
  line-height: 0;
}


.contact__pre::before {
  content: "\003E";
}

.education {
  display: flex;
  padding: 30px 30px ;
  justify-content: space-around;
  }

.education__title {
    margin-bottom: 30px;
    color: #18d26e;
    display: flex;
    justify-content: center;
    }

.education__pre::before {
  content: "\2714";
}

.education__item > strong{
display: inline-block;
}

.education__item > p {
  margin-left: 27px;
}
