@media (max-width: 767px) {
  .portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .portfolio__item {
    max-width: 480px;
    margin-bottom: 30px;
  }

  .portfolio__container {
    padding: 30px 10px;
  }
  .portfolio__img {
    width: 480px;
  
  }
}



.portfolio__wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio__wrap::before {
  content: '';
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}



.portfolio__info::before {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio__info::after {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio__info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio__info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio__links {
  text-align: center;
  z-index: 4;
}

.portfolio__links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: all ease-in-out 0.3s;
}

.portfolio__links a:hover {
  transition: all ease-in-out 0.3s;

  color: #63eda3;
}

.portfolio__wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio__wrap:hover .portfolio__info {
  opacity: 1;
}

.portfolio__wrap:hover .portfolio__info::before {
  top: 15px;
  left: 15px;
}

.portfolio__wrap:hover .portfolio__info::after {
  bottom: 15px;
  right: 15px;
}



.portfolio__container__pretitle {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: 'Poppins', sans-serif;
}

.portfolio__container__pretitle::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.portfolio__container__title {
  margin: 15px 0px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.portfolio__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio__img {
  width: 300px;
  height: 300px;
  padding: 0 20px;
  border-color: 10px solid white;
}
.portfolio__thumb__wrapper {
  /* margin-left: 50px; */
  padding: 20px 70px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 32px;
  color: #18d26e;
  margin-bottom: 30px;
}
.portfolio__text {
  /* font-style: italic; */
  margin-bottom: 20px;
  /* overflow: hidden; */
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.portfolio__info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .portfolio {
    min-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: -30px;
  }

  .portfolio__thumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
  }
  .portfolio__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .portfolio__list {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio__item {
    width: 450px;
    flex-basis: calc(33.33333% - 30px);
    margin: 30px 0 30px 30px;
  }

  .portfolio__container {
    padding: 30px;
  }
}


@media (min-width: 768px) and (max-width: 1279px) {

  .portfolio {
    /* display: grid; */
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    /* margin-top: -30px;
    justify-content: center;
    align-items: center;
    text-align: center; */
  }

  .portfolio__thumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
  }
  .portfolio__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .portfolio__list {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio__item {
    width: 100%;
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  .portfolio__container {
    padding: 30px;
  }
}